/* Reset/Global Styles */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body, h1, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #191C27;
}

.contenedor {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2B3140;
    padding: 70px;
    border-radius: 30px;
}

a{
    text-decoration: none;
}

img {
    max-width: 700px;
    padding: 10px;
}

video {
    max-width: 700px;
    padding: 10px;
}

.titulo {
    margin: 50px 0;
}

.heading-h3 {
    margin: 50px 0;
    font-weight: 600;
    font-size: 25px;
    border-radius: 5px;
    outline: none;
    background-color: #30414C;
    padding: 10px;
    text-align: center;
    color: #5DCBB8;
    padding: 25px;
}

.text-inside {
    color: #fff;
    margin: 20px 0;
}


.titulo {
    padding-top: 10px;
    font-size: 60px;
}

a {
    color: #fff;
}

table {
    width: 100%; /* Adjust the width as per your design */
    border-collapse: collapse;
    color: #fff; /* Text color */
    background-color: #2B3140; /* Background color */
    border: 2px solid #2B3140; /* Border color and size */
    font-size: 35px; /* Font size */
}

th, td {
    border: 2px solid #fff; /* Border color and size */
    padding: 10px; /* Padding inside each cell */
    text-align: center; /* Centering text inside cells */
}

th {
    background-color: #5DCBB8; /* Background color for header cells */
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    body {
        padding: 20px;
    }

    .contenedor {
        padding: 30px;
        border-radius: 15px;
    }

    img, video {
        max-width: 100%;
        padding: 5px;
    }

    .titulo {
        font-size: 40px;
        margin: 30px 0;
    }

    .heading-h3 {
        font-size: 20px;
        margin: 30px 0;
        padding: 15px;
    }

    table {
        font-size: 18px;
    }

    th, td {
        padding: 5px;
    }

}